<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <div class="container margin-top">
      <h1 class="myh-center">Sign Up</h1>
      <div class="row row-eq-height">
        <div class="col-md-offset-1 col-md-4">
          
          <%= form_for @user do |f| %>
            <% if @user.errors.any? %>
              <div class="error_messages">
                <div class="alert alert-danger alert-dismissable">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                  <strong>Form is invalid</strong>
                  <ul>
                    <% for message in @user.errors.full_messages %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
            
            <p>
              <%= f.label :name %><br />
              <%= f.text_field :name, class:"form" %>
            </p>
            
            <p>
              <%= f.label :email %><br />
              <%= f.text_field :email, class:"form" %>
            </p>
            
            <p>
              <%= f.label :document %><br />
              <%= f.number_field :document, class:"form" %>
            </p>
            
            <p>
              <%= f.label :role %><br />
              <%= f.number_field :role, class:"form" %>
            </p>
            
            <p>
              <%= f.label :charge %><br />
              <%= f.number_field :charge, class:"form" %>
            </p>
        
            
            <p>
              <%= f.label :area %><br />
              <%= f.number_field :area, class:"form" %>
            </p>
        
            <!--%= f.hidden_field :idBoss, :value => -1 %-->
            <%= f.hidden_field :step, :value => -1 %>
        
            <p>
              <%= f.label :password %><br />
              <%= f.password_field :password, class:"form"  %>
            </p>
            
            <p>
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, class:"form"  %>
            </p>
            
            <%= f.submit url:"#", class:"btn-full btn" %>
          <% end %>
        </div>
        <div class="col-md-offset-1 col-md-5 verticalAlign">
          <%= image_tag "image1.jpg", alt: "", style:"width:80%", class:"" %>
        </div>
      </div>
    </div>
  </body>
</html>
    

