<h1>Evaluated</h1>

<p>More chachara</p>

<h2><%= @step %></h2>

<h4><%= link_to "Paso 1", evaluated_step_one_path %></h4>
<h4><%= link_to "Paso 2", evaluated_step_two_path %></h4>
<h4><%= link_to "Paso 3", evaluated_step_three_path %></h4>
<h4><%= link_to "Paso 4", evaluated_step_four_path %></h4>
